<template>
  <div>
    <img width="100%" src="../assets/page.png" alt="beranda" />
    <br /><br /><br />
    <!-- <p v-if="isConnected">We're connected to the server!</p> -->
    <!-- <p>Message from server: "{{ socketMessage }}"</p> -->
    <!-- <button class="btn btn-info" @click="pingServer()">Ping Server</button> -->
  </div>
</template>