<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h5 style="color:red">Cari data</h5>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by jenis kritikan"
            v-model="jenis_kritikan"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              @click="searchRowData"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-4">
        <h5 style="color:red">Kritik List</h5>
        <ul class="list-group">
          <li
            class="list-group-item"
            :class="{ active: index == currentIndex }"
            v-for="(kritik, index) in kritiks"
            :key="index"
            @click="setActiveKritik(kritik, index)"
          >
            {{ kritik.nama }}
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div v-if="currentKritik">
          <h5 style="color:red">Kritik Detail</h5>
          <table width="100%">
            <tr>
              <td style="font-size:15px" width="20%"><strong>Nama </strong></td>
              <td>{{ currentKritik.nama }}</td>
            </tr>
            <tr>
              <td style="font-size:15px"><strong>Alamat </strong></td>
              <td>:</td>
              <td>{{ currentKritik.alamat }}</td>
            </tr>
            <tr>
              <td style="font-size:15px"><strong>No. Telp </strong></td>
              <td>:</td>
              <td>{{ currentKritik.nohp }}</td>
            </tr>
            <tr>
              <td style="font-size:15px"><strong>Jenis Kritikan </strong></td>
              <td>:</td>
              <td>{{ currentKritik.jenis_kritikan }}</td>
            </tr>
            <tr>
              <td style="font-size:15px"><strong>Isi Kritikan </strong></td>
              <td>:</td>
              <td>{{ currentKritik.isi_kritikan }}</td>
            </tr>
            <!-- <tr>
              <td style="font-size:15px"><strong>Waktu </strong></td>
              <td>:</td>
              <td>{{ currentKritik.input_time }}</td>
            </tr> -->
            <tr>
              <td style="font-size:15px"><strong>Status </strong></td>
              <td>:</td>
              <td>
                <b
                  v-if="currentKritik.is_accept == 0"
                  class="badge badge-danger mr-2"
                  >Proses</b
                >
                <b v-else class="badge badge-primary mr-2">Selesai</b>
              </td>
            </tr>
          </table>

          <br />

          <td v-if="currentKritik.is_accept"></td>

          <td v-else>
            <h5 style="color:red">Action</h5>
            <p class="mt-1"></p>
            <img
              width="50px"
              @click="updateStatus(true)"
              src="../../assets/okcek.png"
              alt="Proses Selesai"
            />
            &nbsp;<label style="font-size:14px">Proses Selesai</label>
            <!-- Selesai -->
          </td>
        </div>

        <div v-else>
          <br />
          <p>Klik untuk melihat detail...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import io from "socket.io-client";
import KritikDataService from "../../services/KritikDataService";
import axios from "axios";

const socket = io("http://localhost:3030");
export default {
  name: "data-connected",
  data() {
    return {
      kritiks: [],
      currentKritik: null,
      currentIndex: -1,
      jenis_kritikan: ""
    };
  },

  mounted() {
    this.setupSocket();
    this.retreiveKritik();
  },
  methods: {
    async retreiveKritik() {
      const data = await axios.get("http://localhost:3030/api/kritik");
      this.kritiks = data.data;
    },

    setupSocket() {
      socket.on("connect", function() {
        console.log("connect");
      });
      socket.on("newData", data => {
        this.kritiks.push(data.data);
      });
      socket.on("disconnect", function() {
        console.log("disconnect");
      });
    },

    refreshList() {
      this.retreiveKritik();
      this.currentKritik = null;
      this.currentIndex = -1;
    },

    setActiveKritik(kritik, index) {
      this.currentKritik = kritik;
      this.currentIndex = index;
    },

    searchRowData() {
      KritikDataService.findByJenisKritikan(this.jenis_kritikan)
        .then(response => {
          this.kritiks = response.data;
          // console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style>
.list {
  text-align: left;
  width: 100%;
  margin: 2px 12px 6px 20px;
}
</style>