<template>
  <div>
    <div id="app">
      <nav class="navbar navbar-expand navbar-dark bg-info">
        <router-link to="/" class="navbar-brand">Go-Mas App</router-link>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link to="/kritik" class="nav-link">Kritik</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/saran" class="nav-link">Saran</router-link>
          </li>
        </div>
      </nav>
      <div class="container mt-3">
        <router-view />
      </div>
      <footer class="fixed-bottom bg-info">
        <p class="mt-2" style="text-align: center;color:white">
          &copy; 2020 Anis Fajar Prakoso
        </p>
      </footer>
    </div>
  </div>
</template>


<script>
import io from "socket.io-client";
import axios from "axios";

const socket = io("http://localhost:3030");
export default {
  name: "App",
  data() {
    return {
      list: []
    };
  },
  mounted() {
    this.setupSocket();
    this.getData();
  },
  methods: {
    async getData() {
      const data = await axios.get("http://localhost:3030/api/kritik");
      this.list = data.data;
    },
    setupSocket() {
      socket.on("connect", function() {
        console.log("connect sukses");
      });
      socket.on("newData", data => {
        console.log("test123");
        this.list.push(data);
      });
      socket.on("disconnect", function() {
        console.log("disconnect");
      });
    }
  }
};
</script>


<style>
footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
}
</style>